*{
    color: white;
    margin: 0;
    font-family: bold;
    --rojo: #D22F26 ;
    --gris: #686868 ;
    
}
body{
    background-color: #000;
}
header{
    display: flex;
}
    .back{
        margin:15%;
    }

main{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

    .contImagen{
        display: flex;
        align-items: center;
    }
        .imagen{
            width: 100%;
        }
    .contTitulo{
        display: flex;
        align-items: left;
        flex-direction: column; 
        margin: 3vw;   
    } 
        .titulo{
            size: 25%;
            font-size: 7vw;
        }
    .dataCont{
        display: flex;
        flex-direction: row;     
    }
        .icono{
            size: 100%;
            position: relative;
        }
        .data{
            padding: 3vw ;
            font-size: 3vw;
        }
.contPlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw;
}
    .btnImg{
        width: 100%;
        margin-bottom: 1.5vh;
        
    }
.contInfo{
    margin: 3vw;
    font-size: 3vw;
    line-height: 4vw;
}    
    .creditos{
        color: #686868;
        font-size: 3vw;
        line-height: 3vw;
    }
    .sinopsis{
        margin-bottom: 2vw;
    }
.contBotones{
    display: flex;
    margin: 3vw;
}
    .compartir{
        width: 8%;
        padding: 0% 2vw;
    }
.contCartas{
    
    margin: 3.5vw;
    font-size: 3vw;
}    
    .cartasContainer{
        display:flex;
        flex-direction: row;
        text-align: center;
        justify-content:start;
        overflow-y: hidden;
        gap:8px
    }
    .imgMovie{
        width: 135px;
        height: 200px;
        border-radius: 3px;
        /* padding: 6px; */
        cursor: pointer;
    }


footer{
 
    /* background-color: #000; */
    
}
    button{
      
        background-color: #000;
        padding: 5%;
    }



    .cartasContainer::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    
    /* .cartasContainer::-webkit-scrollbar:vertical {
        width:10vh;
    } */
    
    .cartasContainer::-webkit-scrollbar-button:increment,.cartasContainer::-webkit-scrollbar-button {
        display: none;
    } 
    
    .cartasContainer::-webkit-scrollbar:horizontal {
        height: 1vh;
    }
    
    .cartasContainer::-webkit-scrollbar-thumb {
        background-color:#6868683f;
        border-radius: 20px;
        border: none;
    }
    
    .cartasContainer::-webkit-scrollbar-track {
        border-radius: 10px;  
    }    